<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet", href="/css/style.css">
</head>

<body>
    <h1>That's what I'm talking about!</h1>
    {{>header}}
    <img src="/img/Thomas Dinneny Head Shot.jpeg">
    <h2>Created by: {{name}}</h2>
    <h2>What's Up?</h2>
    {{>footer}}
</body>
</html>